<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Week 12</title>
    <meta
      name="viewport"
      content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="script.js" defer></script>
  </head>

  <body>
    <div class="container">
      <div>
        <% for (var i = 0; i < allTheData.length; i++) { %>
        <h1>
          <span id="text"><%=allTheData[i].rawText%></span>
          =
          <span id="emoji"><%=emojiObject[allTheData[i].rawText]%></span>
        </h1>
        <% } %>
      </div>
      <div>
        <button onclick="window.history.go(-1)" class="btn btn-warning">
          Back
        </button>
      </div>
    </div>
  </body>
</html>
